#login-container {
    border: red solid 2px;
    display: flex;
    justify-content: center;
}

#img-block {
    border: blue dotted 5px;
    width: 50%;
}

#login-form {
    border: green dotted 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}