#navbar {
    background-color: rgb(192, 168, 15);
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 10px;
}

.nav-link {
    margin: 0px 20px;
    padding: 10px;
    text-decoration: none;
    font-size: medium;
    font-weight: 550;
}

.nav-link:hover {
    color: red;
}
